@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background-color: #323232;
    color: #ffffff;
}
.topspace {
    text-transform: uppercase;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}
.toppic {
    width: 90vw;
    max-height: 60vh;
    margin: 0 auto;
}
#title {
    font-size: 15vh;
    text-shadow: 0 0 20px #00000010;
}
nav {
    height: 10vh;
    background-color: #ff0000;
    box-shadow: 0 0 20px #00000010;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: -1px;
}
.logo {
    display: flex;
    align-items: center;
    margin: 10% 4vw;
    padding: 0 1vw;
    font-size: 2.5vw;
    height: 80%;
    background-color: #323232;
}
.logo a {
    color: #ffffff;
}
.contact-button,
.service button {
    background-color: #0069ff;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
}
.contact-button:hover,
.service button:hover,
button[type="submit"]:hover {
    box-shadow: 0 0 20px #00000040;
    cursor: pointer;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}
nav ul li {
    margin: 0 3vw;
    font-size: 2vw;
    letter-spacing: 0.5vw;
}
nav a {
    color: #ffffff;
    text-decoration: none;
}
li a:hover {
    color: #0069ff;
}

.container {
    height: auto;
    background-color: #323232;
}
.section {
    height: auto;
    background-color: #626161;
    margin: 5vh 2vw;
    padding: 4vh 0;
}
#about:target,
#services:target {
    padding-top: 10vh;
    margin-top: -10vh;
}
h2 {
    text-transform: uppercase;
    font-size: 5vh;
    text-align: center;
    padding: 2.5vh;
}
h3 {
    text-transform: uppercase;
    font-size: 4vh;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 2vh;
}
.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    justify-content: center;
    align-items: center;
    margin: 1vw;
}
.vid-container,
.aboutus-container {
    padding: 1vw;
}
.ytvid {
    width: 44.5vw;
    height: 25vw;
    box-shadow: 0 0 20px #00000010;
}
p, label {
    font-size: 3vh;
    letter-spacing: 2px;
    line-height: max(4vw, 30px);
    text-align: center;
}
b {
    background-color: red;
    padding: 0.3vh;
    letter-spacing: normal;
    box-shadow: 0 0 20px #00000010;
}
br {
    height: 1vw;
    display: block;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3vw;
    justify-content: center;
    align-items: center;
    margin: 2vw;
}
.service {
    padding: 2vh 0;
    height: 100%;
    background-color: #ff0000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px #00000010;
}
#s1 {
    grid-column: 1;
}
#s2 {
    grid-column: 2;
}
#s3 {
    grid-column: 3;
}
.service ul {
    text-align: center;
    font-size: 3.5vh;
    list-style-type: square;
    line-height: max(4vw, 30px);
}
.service button {
    margin: 2vh;
    font-size: 3.5vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.mail-container {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input[type="email"]{
    width: 85%;
    margin: 2vw 0;
    display: inline;
    font-size: 3vh;
    letter-spacing: 2px;
    padding: 1vh;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background-color: transparent;
    border: solid 2px #ff0000;
    text-align: center;
}
button[type="submit"] {
    width: 50vw;
    background-color: #0069ff;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    margin: 2vh;
    font-size: 3.5vh;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}
footer p,
footer li {
    font-size: 1.5vh;
    letter-spacing: normal;
    margin: 0 20px;
    line-height: normal;
    padding: 5px 10px;
}
footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}